[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
applescript = "*"
colorama = "*"
pypresence = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"

[scripts]
client = "python3 applemusic.py"
